node_modules
dist
.tmp
.sass-cache
bower_components
www/
npm-debug.log
.*
!.gitignore

plugins/*
cordova/plugins/*

!plugins/ios.json
!plugins/fetch.json
!plugins/android.json

platforms/*
!platforms/android/build.gradle
!platforms/android/project.properties
!platforms/android/settings.gradle
!platforms/android/AndroidManifest.xml


platforms/android/build.gradle

platforms/platforms.json

platforms/platforms.json

platforms/android/build.gradle
