<!DOCTYPE html>
<html>
  <head>
    <title>Yomad Detail</title>
    <!-- Bootstrap mobile first tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap mobile first tag -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="text-center">Yomad</h1>
    <!--
    <div>
      <img class="center-block icon" src="/img/Glyphs png/glyphicons-299-hospital.png" />
    </div>
    -->

  <div ng-repeat="message in messages">
    <div>
      <h3 class="text-center"><u>{{message.title}} : Additional Information</u></h3>
    </div>
    <br />
    <p>{{message.address1}}</p>
    <p>{{message.address2}}</p>
    <p>{{message.phone}}</p>
    <p>{{message.locationDesc}}</p>
    <p>{{message.detailText}}</p>
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
