<header>
  <span back-button></span>
  <span><h1 class="text-center">{{location.name}}</h1></span>
</header>
<div class="top-button-container">
  <span class="top-button" ng-click="showMap('whatev does not matter yet')">
    Map
  </span>
  <span class="top-button-divider" />
  <span class="top-button" ng-click="showSubmitMessage()">
    Post
  </span>
</div>
<div ng-repeat="message in messages"
  ng-click="showMessageDetail(message)">
  <div class="message-frame">
    <div class="message-icon-container">
      <div ng-if="message.isBurst">
        <span class="helper"></span>
        <img src="img/Glyphs png/24HrAlert.png" class="burstIcon" />
      </div>
      <img ng-src="{{message.localIconPath}}" class="icon"/>
    </div>
    <div class="message-container">
      <div><h4>{{message.title}}</h4></div>
      <div><h5>{{message.address1}}<h5></div>
    </div>
  </div>
</div>
