<!DOCTYPE html>
<html>
  <head>
    <title>Yomad Main</title>
  </head>
  <body>
    <h1 class="text-center">Yomad</h1>
    <div class="form-group">
      <form>
        <label>Select Your Location</label>
        <select class="form-control" id="locationSelect" name="location">
          <option value="Cleveland">Cleveland</option>
          <option value="Akron">Akron</option>
          <option value="Pittsburgh">Pittsburgh</option>
        <select>
      </form>
    </div>
    <div ng-click="showMap('whatev does not matter yet')">
      Map
    </div>
    <div>
      <h3 class="text-center"><u>Resources Near Your Location:</u></h3>
    </div>
  <div ng-repeat="message in messages"
    ng-click="showMessageDetail(message)">
    <div>
      <div style="float:left;clear:left">
        <img ng-src="{{message.localIconPath}}" class="icon"/>
      </div>
      <div style="float:left">
        <div><h4>{{message.title}}</h4></div>
        <div><h4>{{message.address1}}<h4></div>
      </div>
    </div>
  </div>
</body>
