<!DOCTYPE html>
<html>
  <head>
    <title>Yomad Main</title>
    <!-- Bootstrap mobile first tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap mobile first tag -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/Icon.css" type-"text/css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="text-center">Yomad</h1>
    <div class="form-group">
      <form>
        <label>Select Your Location</label>
        <select class="form-control" id="locationSelect" name="location">
          <option value="Cleveland">Cleveland</option>
          <option value="Akron">Akron</option>
          <option value="Pittsburgh">Pittsburgh</option>
        <select>
      </form>
    </div>
    <div>
      <h3 class="text-center"><u>Resources Near Your Location:</u></h3>
    </div>
    <div>
      <img class="center-block icon" src="/img/Glyphs png/hospital.png" />
    </div>



  <div ng-repeat="message in messages">
    <span>{{message.type}} : {{message.title}} <br /> {{message.address1}}</span>
  </div>

  <a href="/html/MoreInfo.html">Get More Information On This Resource</a>
  <div>
    <a href="/html/map.html">Get Map for this resource</a>
  </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
