<header>
  <span back-button></span>
  <span>
    <!--<img ng-src="img/Glyphs png/{{currentMessageCategory.categoryId}}.png" ng-class="'icon-style-' + currentMessageCategory.color">-->
    <h2 class="text-center">Post {{currentMessageCategory.name}} Info</h2>
  </span>
</header>
<div ng-repeat="option in currentMessageCategory.options">
  <div class="message-frame" ng-click="optionClicked(option)">
    <div class="message-icon-container">
      <img ng-src="img/Glyphs png/{{option.opId}}.png" ng-class="'icon-style-' + option.color">
    </div>
    <div class="message-container">
      <h3 class="text-style">{{option.opName}}</h3>
    </div>
  </div>
</div>