<header>
  <span back-button></span>
  <span><h1 class="text-center">Post</h1></span>
</header>
<div>
  <h3 class="text-center">Choose Category</h3>
</div>
<div ng-repeat="messageCategory in messageCategories">
  <div class="message-frame" ng-click="categoryClicked(messageCategory)">
    <div class="message-icon-container">
      <img ng-src="img/Glyphs png/{{messageCategory.categoryId}}.png" ng-class="'icon-style-' + messageCategory.color">
    </div>
    <div class="message-container">
      <h3 class="text-style">{{messageCategory.name}}</h3>
    </div>
  </div>
</div>
