<header>
  <span back-button></span>
  <span><h1 class="text-center">Post</h1></span>
</header>
<div>
  <h3 class="text-center">Choose Category</h3>
</div>
<div ng-repeat="messageCategory in messageCategories">
  <div class="message-frame" ng-click="categoryClicked(messageCategory)">
    <div class="message-icon-container">
      <img ng-src="img/Glyphs png/{{messageCategory.categoryId}}.png" ng-class="'icon-style-' + messageCategory.color">
    </div>
    <div class="message-container">
      <h3 class="text-style">{{messageCategory.name}}</h3>
    </div>
  </div>
</div>

<!--<div class="container">
<a href="../main.html">
  <img src="../../img/Glyphs png/exclamation.png" alt="exclamation" class="icon-style-red">
</a>
<h4 class="text-style">Warning!</h4>
</div>

<div class="container">
<a href="../main.html">
  <img src="../../img/Glyphs png/land.png" alt="land info" class="icon-style-green">
</a>
<h4 class="text-style">Land Status</h4>
</div>

<div class="container">
<a href="../main.html">
  <img src="../../img/Glyphs png/market.png" alt="market" class="icon-style-blue">
</a>
<h4 class="text-style">Market Information</h4>
</div>

<div class="container">
<a href="../main.html">
  <img src="../../img/Glyphs png/infosign.png" alt="information" class="icon-style-blue">
</a>
<h4 class="text-style">Information</h4>
</div>-->
