[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

#locationSelect {
  cursor: pointer;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.message-frame {
    white-space: nowrap;
    line-height: 60px;
}

.message-icon-container {
  float:left;
  clear:left;
  margin-right: 5px;
  margin-left: 10px;
}

.message-container {
  float:left;
  vertical-align: top;
  white-space: nowrap;                  
  overflow: hidden;              /* "overflow" value must be different from "visible" */ 
  text-overflow: ellipsis;
}

.message-frame img {
    vertical-align: middle;
}

.top-button {
  background-color: black;
  color: white;
  padding: 5px 5px 5px 5px;
  width: 40px;
}

.top-button-divider {
  padding-left:3px;
}

.top-button-container {
  text-align: center;
}

.back-button {
  display: inline-block;
  float: left;
  font-size: 12px;
}

/*message icon styles */
.icon-style {
  margin:20px;
  float:left;
  width:42px;
  height:42px;
  border:3px;
  border-style: solid;
  border-color:black;
}
.icon-style-blue{
  margin:10px;
  float:left;
  width:42px;
  height:42px;
  border:3px;
  border-style: solid;
  border-color:blue;
}
.icon-style-red{
  margin:10px;
  float:left;
  width:42px;
  height:42px;
  border:3px;
  border-style: solid;
  border-color:red;
}
.icon-style-green{
  margin:10px;
  float:left;
  width:42px;
  height:42px;
  border:3px;
  border-style: solid;
  border-color:green;
}
.text-style{
  margin-top:20px;
}

#burstHeading {
  border: collapse;
  margin: 10px 0px 0px 0px;
}

#ngBurstIcon {
  line-height: 20px;
}
