[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

#locationSelect {
  cursor: pointer;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.message-frame {
    white-space: nowrap;
    line-height: 60px;
}

.message-icon-container {
  float:left;
  clear:left;
}

.message-container {
  float:left;
  vertical-align: top;
}

.message-frame img {
    vertical-align: middle;
}

.top-button {
  background-color: black;
  color: white;
  padding: 5px 5px 5px 5px;
  width: 40px;
}

.top-button-divider {
  padding-left:3px;
}

.top-button-container {
  text-align: center;
}

.back-button {
  display: inline-block;
  float: left;
  font-size: 12px;
}